version: "2.0"
services:
  prometheus:
    build: ./prometheus
    ports:
      - "9090:9090"
      - "9100:9100"
    networks:
      - frontend
      - backend
    depends_on:
      - node_exporter
    container_name: prometheus
  grafana:
    build: ./grafana
    ports:
      - "3000:3000"
    networks:
      - frontend
      - backend
    volumes:
      - grafana_etc:/etc/grafana
      - grafana_usr:/usr/share/grafana
      - grafana_var:/var/lib/grafana
    container_name: grafana
  node_exporter:
    build: ./node_exporter
    networks:
      - backend
    container_name: node_exporter
  mdns-publisher:
    build: ./mdns-publisher
    environment:
      DBUS_SYSTEM_BUS_ADDRESS: "unix:path=/host/run/dbus/system_bus_socket"
    labels:
      io.balena.features.dbus: "1"
  plantower-pms5003-exporter:
    build: ./plantower-pms5003-exporter
    privileged: true
    environment:
      PMS5003_PORT: /dev/ttyAMA0
      PMS5003_METRICS_PORT: "9100"
      PMS5003_RECONNECT_TIMEOUT: 1s
    networks:
      - backend
  asair-aht20-exporter:
    build: ./asair-aht20-exporter
    privileged: true
    labels:
      io.balena.features.kernel-modules: "1"
    networks:
      - backend

networks:
  frontend:
  backend:

volumes:
  grafana_etc:
  grafana_usr:
  grafana_var:
